<template>
  <div class="w-screen h-screen flex flex-wrap justify-center">
    <nav
      class="
        bg-white
        max-h-[6vh]
        sticky
        flex
        top-0
        p-4
        w-full
        text-center
        align-center
        justify-center
        border-b-2
        flex-grow-0
      "
    >
      <strong>Interview formatter</strong>
      <a href="#input" class="inline-block mx-4 hover:font-bold"> Input </a>
      <a href="#output" class="inline-block mx-4 hover:font-bold"> Output </a>
      <a href="#" class="inline-block mx-4 hover:font-bold" @click="copyOutput"
        >Copy output</a
      >
    </nav>
    <label class="max-w-lg w-full 2xl:w-1/3 flex flex-col mx-4">
      <strong class="mb-4">Input</strong>
      <textarea
        id="input"
        v-model="input"
        cols="80"
        class="min-h-[85vh] border-2 p-2"
        @paste="onPaste"
        @keydown="onKeyDown"
      />
    </label>

    <div class="max-w-lg w-full 2xl:w-1/3 flex flex-col mx-4">
      <label>
        <strong class="mb-4">Output</strong>
      </label>
      <div>
        Mode:
        <label>
          <input v-model="mode" type="radio" :value="$options.GREENHOUSE" />
          Greenhouse
        </label>
        <label>
          <input v-model="mode" type="radio" :value="$options.WORKDAY" />
          Workday
        </label>
      </div>
      <textarea
        id="output"
        v-model="output"
        cols="86"
        class="min-h-[86vh] border-2 p-2 text-sm font-mono min-w-[86ch]"
        readonly
      />
    </div>
    <div v-if="messages.length" class="fixed top-4 right-4 max-w-xs text-bold">
      <div
        v-for="m in messages"
        :key="m.date"
        class="py-2 px-4 m-2 bg-gray-600 text-white"
      >
        {{ m.message }}
      </div>
    </div>
  </div>
</template>

<script>
import defaultInput from '../README.md'
import parse, { WORKDAY, GREENHOUSE } from '~/helpers/parse.js'
import htmlToMd from '~/helpers/html-to-markdown'

const DISMISS_TIMEOUT = 3000

export default {
  WORKDAY,
  GREENHOUSE,
  data() {
    return {
      input: '',
      tab: 'input',
      messages: [],
      mode: GREENHOUSE,
    }
  },
  computed: {
    output() {
      try {
        return parse(this.input, this.mode)
      } catch (e) {
        this.addMessage('Could not parse input, see console')
        console.log(e)
        return e.message
      }
    },
  },
  watch: {
    input(newValue) {
      if (localStorage) {
        localStorage.setItem('input', JSON.stringify(newValue))
      }
    },
  },
  mounted() {
    let input = ''
    try {
      input = JSON.parse(localStorage?.getItem('input')) || ''
    } catch (e) {}
    if (!input || input.trim() === '') {
      input = defaultInput
    }
    this.input = input
  },
  methods: {
    onKeyDown(e) {
      if (e.key === 'v' && (e.ctrlKey || e.metaKey)) {
        this.pasteRaw = e.shiftKey
      }
    },
    onPaste(e) {
      if (this.pasteRaw || e.clipboardData.getData('text/html') === '') {
        this.pasteRaw = false
        return
      }
      e.preventDefault()

      const pastedText = e.clipboardData.getData('text/html')

      htmlToMd(pastedText)
        .then((md) => {
          this.input = md
          this.addMessage('Successfully pasted formatted text')
        })
        .catch((e) => {
          this.addMessage('Could not parse pasted HTML, see console')
          console.log(e)
        })
    },
    cleanupMessages() {
      const newMessages = []

      for (const message of this.messages) {
        if (message.date > new Date().getTime()) {
          newMessages.push(message)
        }
      }

      this.messages = newMessages
    },
    addMessage(message) {
      this.messages.push({
        date: new Date().getTime() + DISMISS_TIMEOUT,
        message,
      })
      setTimeout(this.cleanupMessages, DISMISS_TIMEOUT + 50)
    },
    async copyOutput() {
      try {
        await navigator.clipboard.writeText(this.output)
        this.addMessage('Successfully copied to clipboard')
      } catch (e) {
        this.addMessage('ERROR: Could not copy output')
        // eslint-disable-next-line no-console
        console.warn('Error while copying', e)
      }
    },
  },
}
</script>
